JHazm/resources/corpora/hamshahri/1996/hamshahri.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT HAMSHAHRI2 (COPYRIGHT, DOC+)>
<!ELEMENT DOC (DOCID, DOCNO, ORIGINALFILE, ISSUE, DATE, CAT, CAT, TITLE, TEXT)>
<!ELEMENT DOCID (#PCDATA)>
<!ELEMENT DOCNO (#PCDATA)>
<!ELEMENT ORIGINALFILE (#PCDATA)>
<!ELEMENT ISSUE (#PCDATA)>
<!ELEMENT DATE (#PCDATA)>
<!ATTLIST DATE calender (Persian | Western) #REQUIRED>
<!ELEMENT CAT (#PCDATA)>
<!ATTLIST CAT xml:lang (en | fa) #REQUIRED>
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT TEXT (#PCDATA)>